<div class="consulta d-flex justify-content-center">
    @if (doctor!== null){
    <div class="card p-3 mt-4 d-flex flex-row">
        <img [src]="doctor.foto" alt="Foto del doctor" class="img-thumbnail me-3">
        <div>
            <h5 class="card -title mb-2">{{doctor.nombre}}</h5>
            <p class="mb-1"><strong>ID: </strong>{{doctor.id}}</p>
            <p class="mb-1"><strong>Especialidad: </strong>{{doctor.especialidad}}</p>
            <p class="mb-1"><strong>Años de experiencia: </strong>{{doctor.anios_experiencia}} años</p>
            <p class="mb-1"><strong>Ciudad: </strong>{{doctor.ciudad}}</p>
            <p class="mb-1"><strong>Teléfono: </strong>{{doctor.telefono}}</p>
        </div>
       </div>
    }@else {
        <div class="alert alert-warning mt-4">
            No se encontró ningún doctor con el ID {{id}}.
        </div>
    }

</div>